<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название сайта</title>
    <link rel="stylesheet" href="..\static\css\index.css">
</head>
<body>
    <h1>Название сайта</h1><!-- или нужен был именно тег <h>? просто в html такого нет, хотя для css и без разницы -->
    <p>Текст-описание приложения</p><!-- тег <p> для стилей так-то тоже сомнительное решение. по-моему для стилей лучше <div id=...> использовать -->
    <img src="..\static\img\img.png">
</body>
</html>